<a href="https://colab.research.google.com/github/em-chiu/intersection_project/blob/main/EC%20Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
import urllib.request
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
import re
import numpy as np
from collections import Counter
from sklearn import preprocessing
import string
nltk.download('averaged_perceptron_tagger') # to solve pos feature extract issue
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_score

import pandas as pd # data processing
import csv
import sys
import unidecode
import seaborn as sns

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/emilychiu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/emilychiu/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/emilychiu/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [2]:
# load the data to df, try1 works
df = pd.read_csv('FTR_labels_copy.csv', header=None, encoding = "ISO-8859-1")\
        .drop(0, axis=1)\
        .rename(columns={1: 'tweet'})

In [3]:
# preview data
df.head()

                                               tweet      2
0                                              tweet  label
1  Elle ne devait pas dÃ©gager la nazi ??? https:...      1
2  je dois faire un oral en anglais sur Hitler et...      0
3  @ambrassmoi_ A Ã§a ð¤ de ressembler Ã  la cr...      0
4  "Par curiositÃ©, jâai voulu Ã©couter les dis...      0

In [4]:
# Drop first row 
# by selecting all rows from first row onwards
df = df.iloc[1: , :]

In [5]:
# view dimensions of dataset
df.shape
# 2857 instances and 2 attributes in dataset

(2856, 2)

In [6]:
# Rename column names
col_names = ['tweet', 'label']
df.columns = col_names
df.columns

Index(['tweet', 'label'], dtype='object')

In [7]:
# preview after renaming
df.head()

                                               tweet label
1  Elle ne devait pas dÃ©gager la nazi ??? https:...     1
2  je dois faire un oral en anglais sur Hitler et...     0
3  @ambrassmoi_ A Ã§a ð¤ de ressembler Ã  la cr...     0
4  "Par curiositÃ©, jâai voulu Ã©couter les dis...     0
5  @tical10 @ExBarcaFan74523 @ConflitsFrance Mdr ...     1

In [8]:
# summary of data
df.info()
# no missing data
# Categorical variables have data type object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 1 to 2856
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   2856 non-null   object
 1   label   2856 non-null   object
dtypes: object(2)
memory usage: 44.8+ KB

In [9]:
# find categorical variables
categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 2 categorical variables

The categorical variables are :

 ['tweet', 'label']

In [10]:
# view the categorical variables
df[categorical].head()

                                               tweet label
1  Elle ne devait pas dÃ©gager la nazi ??? https:...     1
2  je dois faire un oral en anglais sur Hitler et...     0
3  @ambrassmoi_ A Ã§a ð¤ de ressembler Ã  la cr...     0
4  "Par curiositÃ©, jâai voulu Ã©couter les dis...     0
5  @tical10 @ExBarcaFan74523 @ConflitsFrance Mdr ...     1

In [11]:
# check missing values in categorical variables
df[categorical].isnull().sum()

tweet    0
label    0
dtype: int64

In [12]:
# view frequency counts of values in categorical variables
for var in categorical: 
    print(df[var].value_counts())

# 0        1929
# 1         927

"0. Moi\n                                                                                                                                                    4
@flo__lfc @leo2saucisson @ActuFoot_ CrÃ¨ve                                                                                                                   2
"ððððð\n                                                                                                                                      2
"""A Bright Room Called Day"", la cinglante leÃ§on d'histoire de Tony Kushner. Ma critique dans Les SoirÃ©es de Paris â¶ï¸Â https://t.co/Ydl1PqJv7AÂ \n    2
"En ce moment sur LFM #CrÃ¨ve-cÅur#Mauvais Åil et toujours Le Morning sur LFM de 07h Ã  10h du Lundi au Vendredi.\n                                        2
                                                                                                                                                            ..
de toutes faÃ§ons, c'est une mascarade. personne n'est mort et le masque sert Ã  rien #nazi #GiletsJaunes                                                    1
Ah je crÃ¨ve de froid                                                                                                                                        1
@Weatherboy_fr @ButchCoolidge11 @DamienRieu Bah oui câest les franÃ§ais qui ont Ã©lus hitler câest connuâ¦ gÃ©nie !                                     1
@mormach Pitoyable cette information dirigÃ©e !!! On en crÃ¨ve !!!                                                                                           1
Sal Noir https://t.co/9Sr7f4Mzr5 https://t.co/53F9rBpJsf                                                                                                     1
Name: tweet, Length: 2847, dtype: int64
0    1929
1     927
Name: label, dtype: int64

In [13]:
# view frequency distribution of categorical variables
for var in categorical:   
    print(df[var].value_counts()/float(len(df)))

"0. Moi\n                                                                                                                                                    0.001401
@flo__lfc @leo2saucisson @ActuFoot_ CrÃ¨ve                                                                                                                   0.000700
"ððððð\n                                                                                                                                      0.000700
"""A Bright Room Called Day"", la cinglante leÃ§on d'histoire de Tony Kushner. Ma critique dans Les SoirÃ©es de Paris â¶ï¸Â https://t.co/Ydl1PqJv7AÂ \n    0.000700
"En ce moment sur LFM #CrÃ¨ve-cÅur#Mauvais Åil et toujours Le Morning sur LFM de 07h Ã  10h du Lundi au Vendredi.\n                                        0.000700
                                                                                                                                                               ...
de toutes faÃ§ons, c'est une mascarade. personne n'est mort et le masque sert Ã  rien #nazi #GiletsJaunes                                                    0.000350
Ah je crÃ¨ve de froid                                                                                                                                        0.000350
@Weatherboy_fr @ButchCoolidge11 @DamienRieu Bah oui câest les franÃ§ais qui ont Ã©lus hitler câest connuâ¦ gÃ©nie !                                     0.000350
@mormach Pitoyable cette information dirigÃ©e !!! On en crÃ¨ve !!!                                                                                           0.000350
Sal Noir https://t.co/9Sr7f4Mzr5 https://t.co/53F9rBpJsf                                                                                                     0.000350
Name: tweet, Length: 2847, dtype: float64
0    0.67542
1    0.32458
Name: label, dtype: float64

In [14]:
# # check frequency distribution of values in label variable
df.label.value_counts()

0    1929
1     927
Name: label, dtype: int64

In [15]:
# Lowercase all words
def make_lower(a_string):
    return a_string.lower()

df['lowered_tweet'] = df['tweet'].apply(make_lower)
df['lowered_tweet']

1       elle ne devait pas dã©gager la nazi ??? https:...
2       je dois faire un oral en anglais sur hitler et...
3       @ambrassmoi_ a ã§a ð¤ de ressembler ã  la cr...
4       "par curiositã©, jâai voulu ã©couter les dis...
5       @tical10 @exbarcafan74523 @conflitsfrance mdr ...
                              ...
2852                           kevin câest un sal noir.
2853    bougnoule bamboula sale arabe , elle est belle...
2854      @b_mahrezz tu viens de le traiter de sal noir ?
2855                     sal noir https://t.co/jraabftel8
2856    sal noir https://t.co/9sr7f4mzr5 https://t.co/...
Name: lowered_tweet, Length: 2856, dtype: object

In [16]:
# Remove all punctuation
def remove_punctuation(a_string):    
    a_string = re.sub(r'[^\w\s]','',a_string)
    return a_string

df['remove_punctuation'] = df['lowered_tweet'].apply(remove_punctuation)
df['remove_punctuation']

1       elle ne devait pas dãgager la nazi  httpstcona...
2       je dois faire un oral en anglais sur hitler et...
3       ambrassmoi_ a ãa ð de ressembler ã  la croix n...
4       par curiositã jâai voulu ãcouter les discours ...
5       tical10 exbarcafan74523 conflitsfrance mdr deu...
                              ...
2852                              kevin câest un sal noir
2853    bougnoule bamboula sale arabe  elle est belle ...
2854        b_mahrezz tu viens de le traiter de sal noir
2855                          sal noir httpstcojraabftel8
2856       sal noir httpstco9sr7f4mzr5 httpstco53f9rbpjsf
Name: remove_punctuation, Length: 2856, dtype: object

In [17]:
df['remove_punctuation'] = df['remove_punctuation'].astype(str)

In [18]:
tokenizer = nltk.TweetTokenizer()
# keeps hashtags together, subset of word_tokenize

df['tokenized_tweet'] = df['remove_punctuation'].apply(tokenizer.tokenize)
df.head()

# https://stackoverflow.com/questions/48363461/passing-a-pandas-dataframe-column-to-an-nltk-tokenizer
#df['tweet'] = df['tweet'].apply(nltk.TweetTokenizer)
# this overwrote what i did

,tweet,label,lowered_tweet,remove_punctuation,tokenized_tweet
1,Elle ne devait pas dÃ©gager la nazi ??? https:...,1,elle ne devait pas dã©gager la nazi ??? https:...,elle ne devait pas dãgager la nazi httpstcona...,"[elle, ne, devait, pas, dãgager, la, nazi, htt..."
2,je dois faire un oral en anglais sur Hitler et...,0,je dois faire un oral en anglais sur hitler et...,je dois faire un oral en anglais sur hitler et...,"[je, dois, faire, un, oral, en, anglais, sur, ..."
3,@ambrassmoi_ A Ã§a ð¤ de ressembler Ã la cr...,0,@ambrassmoi_ a ã§a ð¤ de ressembler ã la cr...,ambrassmoi_ a ãa ð de ressembler ã la croix n...,"[ambrassmoi, _, a, ãa, ð, de, ressembler, ã, l..."
4,"""Par curiositÃ©, jâai voulu Ã©couter les dis...",0,"""par curiositã©, jâai voulu ã©couter les dis...",par curiositã jâai voulu ãcouter les discours ...,"[par, curiositã, jâai, voulu, ãcouter, les, di..."
5,@tical10 @ExBarcaFan74523 @ConflitsFrance Mdr ...,1,@tical10 @exbarcafan74523 @conflitsfrance mdr ...,tical10 exbarcafan74523 conflitsfrance mdr deu...,"[tical, 10, exbarcafan, 74523, conflitsfrance,..."

In [19]:
# df['tweet'] = df['tweet'].astype(pd.StringDtype())

df['tokenized_tweet'] = df['tokenized_tweet'].astype(str)
# must feed str into vectorizer

In [ ]:
# compile a RE into regex object to look for occurrences of same pattern inside target strings w/o rewriting it
# ALF adds to data file
def add_lexical_features(dataframe):
    urls = re.compile(r"http")
    ats = re.compile(r"@[a-zA-Z.]*")
    hashtags = re.compile(r"#[a-zA-Z]*")
    letters = re.compile(r"[a-zA-Z]")
    caps = re.compile(r"[A-Z]")
    fancy = [";",'\"','(','<<']

    nbr_characters = [len(s) for s in df.tweet]
    df['nbr_characters'] = pd.DataFrame(nbr_characters, index=df.index)

    nbr_words = [len(s.split()) for s in df.tweet] # to update after cleaning
    df['nbr_words'] = pd.Series(nbr_words, index=df.index)

    nbr_ats = [len(ats.findall(text)) for text in df.tweet]
    df['nbr_ats'] = pd.Series(nbr_ats, index=df.index)

    nbr_hashtags = [len(hashtags.findall(text)) for text in df.tweet]
    df['nbr_hashtags'] = pd.Series(nbr_hashtags, index=df.index)

    nbr_urls = [len(urls.findall(text)) for text in df.tweet]
    df['nbr_urls'] = pd.Series(nbr_urls, index=df.index)

    nbr_letters = [len(letters.findall(text)) for text in df.tweet]
    df['nbr_letters'] = pd.Series(nbr_letters, index=df.index)

    nbr_caps = [len(caps.findall(text)) for text in df.tweet]
    df['nbr_caps'] = pd.Series(nbr_caps, index=df.index)

    nbr_fancy = [sum(1 for c in text if c in fancy) for text in df.tweet]
    df['nbr_fancy'] = pd.Series(nbr_fancy, index=df.index)

    return dataframe

In [20]:
X = df['tokenized_tweet'] # list of tokenized tweets
y = df['label'] # list of labels of tweets

In [21]:
# split X and y into training and testing sets
# randomizes data in splitting
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
# indicating random state ensures data split will be same
#https://stackoverflow.com/questions/28064634/random-state-pseudo-random-number-in-scikit-learn

In [22]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape
# ((2284, 10), (572, 10))

((2284,), (572,))

In [23]:
y_train.shape, y_test.shape
# ((2284,), (572,))

((2284,), (572,))

In [24]:
# check data types in X_train

X_train.dtypes

dtype('O')

In [25]:
stopwords_fr = nltk.corpus.stopwords.words("french")
# https://stackoverflow.com/questions/57359982/remove-stopwords-in-french-and-english-in-tfidfvectorizer

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# # can't run LR or MNB (models) until vectorize (or bow)

# # Initialize our vectorizer (featurizer, turning text to numbers)
# #only looking at numbers produced, creating features
# # takes each tweet turning into feature vector, each column corresponds to word
# # vectorizer = TfidfVectorizer(ngram_range=(1,3), stop_words=stopwords_fr) # empty model

# # fit vectorizer w/ train data (training data)
# # This makes your vocab matrix, learns words in vocab
# vectorizer.fit(X_train)

# # This transforms your documents into vectors (numbers).
# X_train = vectorizer.transform(X_train)
# X_test = vectorizer.transform(X_test)

In [31]:
from sklearn.feature_extraction.text import TfidfVectorizer

# train model with different n-gram ranges
for N in range(1,5):
    
    # convert training data to bag of words
    range_vectorizer = TfidfVectorizer(ngram_range=(1,N), stop_words=stopwords_fr)
    range_X_train = range_vectorizer.fit_transform(X_train)
# can't run more than once- got attribute lower error b/c was receiving matrix when run once, not right datatype
    range_X_test = range_vectorizer.transform(X_test)
    
    # train model and generate predictions
    clf = MultinomialNB()
    clf.fit(range_X_train, y_train)
    y_pred = clf.predict(range_X_test)
    
    # compute f-1 score
    score = np.round(f1_score(y_test, y_pred, average='macro'),4)
    print('F-1 score of model with n-gram range of {}: {}'.format((1,N), score))

F-1 score of model with n-gram range of (1, 1): 0.476
F-1 score of model with n-gram range of (1, 2): 0.4686
F-1 score of model with n-gram range of (1, 3): 0.4686
F-1 score of model with n-gram range of (1, 4): 0.4634

In [28]:
# function to test and evaluate models. 
from sklearn import metrics
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import confusion_matrix

# For plotting
import matplotlib.pyplot as plt

def build_and_eval_model(model, X, y):
    print("Running report for model:", model) 
    
    # Fit our model.
    model.fit(X_train, y_train)
    
    
    # predicting results based on testing data
    y_pred = model.predict(X_test)
    # Make predicted probabilites of our testing data
#     y_pred_proba = model.predict_proba(X_test)
# https://stackoverflow.com/questions/15111408/how-does-sklearn-svm-svcs-function-predict-proba-work-internally

    # Get the evaluation metrics 
    print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))
    # y_test are true class labels and y_pred are predicted class labels in test-set, don't use train data
    
    # f1-score is always lower than accuracy measures, they embed precision and recall into their computation
#     print('F1 Score: %.4f' % f1_score(y_test, y_pred, pos_label='0'))
    # https://datascience.stackexchange.com/questions/54436/valueerror-pos-label-1-is-not-a-valid-label-arrayn-y-dtype-u1
    # data not much, low f1score; cross fold validation to generate data articificially
    f1score = f1_score(y_test, y_pred, average='macro')
    print('macro F-1 score : {}'.format(np.round(f1score,5)))
    # macro avg f1score = unweighted mean of all the per-class F1 scores, treats all classes equally important
    # weighted-averaged F1 score is calculated by taking the mean of all per-class F1 scores while considering each class’s support
    ## ‘weight’ refers to proportion of each class’s support relative to the sum of all support values
    # https://towardsdatascience.com/micro-macro-weighted-averages-of-f1-score-clearly-explained-b603420b292f
    
    # compare the train-set and test-set accuracy to check for overfitting 
    y_pred_train = model.predict(X_train) 
    # overlearned training data = training accuracy higher (but not over so b/c not 99)
    ## close enough to "possibly" overfit but not dramatic difference --> trust model accuracy score (minor point)
    print('Training set accuracy score: {0:0.4f}'. format(accuracy_score(y_train, y_pred_train)))
    print('Test set accuracy score: {:.4f}'.format(model.score(X_test, y_test)))

    # Print the classification report. 
    print(metrics.classification_report(y_test, y_pred))
    
        
    # Plot the confusion matrix
    fig, ax = plt.subplots(figsize=(13,13))
    
    metrics.plot_confusion_matrix(estimator=model, 
                                  X=X_test, 
                                  y_true=y_test, 
                                  ax=ax)
    
    cm = confusion_matrix(y_test, y_pred)
    print('Confusion matrix\n\n', cm)
    print('\nTrue Positives(TP) = ', cm[0,0])
    print('\nTrue Negatives(TN) = ', cm[1,1])
    print('\nFalse Positives(FP) = ', cm[0,1])
    print('\nFalse Negatives(FN) = ', cm[1,0])

#     # visualize confusion matrix with seaborn heatmap
#     cm_matrix = pd.DataFrame(data=cm, columns=['Actual Positive:1', 'Actual Negative:0'], 
#                                  index=['Predict Positive:1', 'Predict Negative:0'])
#     sns.heatmap(cm_matrix, annot=True, fmt='d', cmap='YlGnBu')
    
    
    # print classification accuracy, same as test set score & model accuracy score
    classification_accuracy = (cm[0,0] + cm[1,1]) / float(cm[0,0] + cm[1,1] + cm[0,1] + cm[1,0])
    print('Classification accuracy : {0:0.4f}'.format(classification_accuracy))
    
    # print classification error
    classification_error = (cm[0,1] + cm[1,0]) / float(cm[0,0] + cm[1,1] + cm[0,1] + cm[1,0])
    print('Classification error : {0:0.4f}'.format(classification_error))

    # Return the fitted model. 
    return model

In [ ]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
build_and_eval_model(lr, X, y)

In [ ]:
from sklearn import svm

lsvc = svm.LinearSVC()
build_and_eval_model(lsvc, X, y)
# class is imbalanced but not a lot of data is impacting 0 detection better

In [ ]:
mnb = MultinomialNB(alpha=.05)
build_and_eval_model(mnb, X, y)

In [ ]:
svc = svm.SVC()
build_and_eval_model(svc, X, y)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

build_and_eval_model(rf, X, y)

In [ ]:
#  a Wilcoxon test, as Vanetik and Mimoun 2022 do, to find the p-value,